// 居中类名
.dibvm:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.clearfix::after{
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}

.clearfix {
  *zoom:1;     /* 写了伪元素之后再ie7及以下不兼容了，添加上 */ 
}

// 循环字体
.f0 {
  font-size: 0;
}

.f10 {
  transform: scale(0.8);
  transform-origin: left center;
  font-size: 12px;
}

.cp {
  cursor: pointer;
}
.usn {
  user-select: none;
}

@media screen and (prefers-reduced-motion:reduce) {
  * {
      -webkit-transition: 0s!important;
      transition: 0s!important
  }
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
  display: block
}

audio,canvas,video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0
}

body {
  margin: 0
}

dl,menu,ol,ul {
  margin: 0;
  list-style: none
}

dd {
  margin: 0
}

menu,ol,ul {
  padding: 0
}

nav ol,nav ul {
  list-style: none;
  list-style-image: none
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic
}

figure {
  margin: 0
}

form {
  margin: 0
}

legend {
  border: 0;
  padding: 0;
  white-space: normal
}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

button,input {
  line-height: normal
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],input[disabled] {
  cursor: default
}

input[type=checkbox],input[type=radio] {
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}
